body {
    background-color: #ffffff;
}

.LoginForm {
    max-width: 588px;
    margin: 0 auto;
    padding-top: 50px;
}

.LoginForm__title {
    text-align: center;
    color: var(--theme-color);
    font-size: 36px;
    font-family: var(--font-title);
    cursor: default;
}

.LoginForm__sub-title {
    text-align: center;
    color: #555;
    font-size: 18px;
    font-family: var(--font-title);
    margin-bottom: 51px;
    cursor: default;
}

.LoginForm__item {
    display: block;
    margin-bottom: 16px;
}

.LoginForm__item-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.LoginForm__item-buttons-left {
    text-align: left;
}

.LoginForm__item-buttons-right {
    text-align: right;
}

.LoginForm__item-confirm-title {
    display: block;
    margin-bottom: 47px;
    color: #606060;
    font-weight: bold;
    font-size: 14px;
}

.LoginForm__item-confirm-controls {
    display: grid;
    grid-template-columns: 40px auto;
    margin-bottom: 51px;
    cursor: pointer;
}

.LoginForm__item-confirm-controls-input {
    width: 16px;
}

.LoginForm__item_big-margin {
    margin-bottom: 45px;
    display: block;
}

.LoginForm__item-title {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
    font-size: 14px;
}

.LoginForm__item-confirm-controls-input-text {
    padding: 8px;
    font-size: 14px;
}

.LoginForm__item-confirm-controls span {
    font-size: 14px;
    color: #606060;
}

.LoginForm.loading .LoginForm__item, .LoginForm.loading .LoginForm__item-confirm {
    pointer-events: none;
    filter: blur(1px);
}

.LoginForm__item-loading-message {
    font-size: 14px;
    color: #555;
    padding-top: 16px;
    display: block;
}

/* mobile */

@media screen and (max-width: 768px) {
    .LoginForm {
        max-width: 100%;
        padding: 20px;
    }

    .LoginForm__item-buttons-left {
        display: none;
    }

    .LoginForm__item-buttons {
        display: block;
    }

    .LoginForm__item-buttons-right {
        text-align: center;
    }
}
