.MessageForm {
    position: absolute;
    bottom: 48px;
    left: 0;
    width: 100%;
    padding-left: 30%;
    padding-right: 20px;
}

.MessageForm__box {
    width: 100%;
    display: grid;
    grid-template-columns: auto 90px;
    position: relative;
}

.MessageForm__box-message {
    width: 100%;
    display: grid;
    grid-template-columns: auto 30px 30px;
    background: #fff;
    padding: 16px 16px 0 16px;
    border-radius: 8px;
}

.MessageForm__box-send-button-btn {
    background: #fff;
    padding: 4px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    float: right;
    display: grid;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.MessageForm__box-send-button-btn svg {
    display: block;
    width: 23px;
    height: 23px;
    margin: 0 auto;
    transform: rotate(45deg);
    fill: var(--theme-color);
}

.MessageForm__box-message-textarea {
    border: none !important;
    outline: none !important;
}

.MessageForm__box-message-attach .dropdown-toggle::after {
    display: none;
}

.MessageForm__box-message-attach svg {
    fill: var(--theme-color);
    width: 23px;
    height: 23px;
    display: block;
    margin: 0 auto;
}

.MessageForm__box-message-attach {
    padding-top: 9px;
}

.MessageForm__box-send-button.disabled {
    opacity: 0.2;
    pointer-events: none;
}

.chatBlocked {
    display: grid;
    grid-template-columns: 24px auto;
    align-items: center;
}

.chatBlocked__remove {
    cursor: pointer;
    color: #2196F3;
    text-decoration: underline;
}

.MessageForm__set-contacts {
    margin-bottom: 4px;
    cursor: pointer;
}

.MessageForm__set-contacts {
    padding-bottom: 8px;
    cursor: pointer;
    float: right;
    margin-right: 90px;
    color: #5d5fef;
    font-size: 14px;
}

.MessageForm__top {
    background: #f3f3ff;
    height: 40px;
    padding-top: 8px;
}

[data-bs-theme="dark"] .MessageForm__top {
    background-color: var(--bg-dark);
}

.MessageForm__box-message-attach--active .dropdown-menu {
    display: none !important;
}

.MessageForm__box-message-attach--active{
    opacity: 0.2;
    pointer-events: none;
}

/* mobile */

@media screen and (max-width: 768px) {
    .MessageForm__top {
        margin-right: -36px;
    }
}


@media screen and (max-width: 1500px) {
    .MessageForm {
        padding-left: 10%;
    }
}

@media screen and (max-width: 1300px) {
    .MessageForm {
        padding-left: 5%;
    }
}

