.ChatHeader {
    position: absolute;
    width: 100vw;
    background: #fff;
    padding: 8px 8px 8px 20px;
    z-index: 9;
}

.ChatHeader__user {
    display: grid;
    grid-template-columns: 70px auto;
    align-items: center;
    cursor: pointer;
    max-width: 300px;
}

.ChatHeader__user-name {
    font-size: 18px;
    font-weight: bold;
}

.ChatHeader__user-mobile {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.ChatHeader__user-mobile-name {
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.ChatHeader__user-mobile-avatar {
    text-align: right;
}

.ChatHeader__user-mobile .UserAvatar {
    display: inline-block;
}

.ChatHeader__user-mobile .UserAvatar__img {
    width: 40px;
    height: 40px;
}

.ChatHeader__user-back {
    text-decoration: none;
    color: var(--theme-color);
}

.ChatHeader__user-back svg {
    width: 30px;
    height: 30px;
    fill: var(--theme-color)
}

.ChatHeader__user-back span {

}