.ChatHeaderUserCard__user {
    display: grid;
    grid-template-columns: 60px auto;
    align-items: center;
}

.ChatHeaderUserCard__user-name {
    font-weight: bold;
    font-size: 18px;
}

.ChatHeaderUserCard__info {
    padding: 16px;
}

.ChatHeaderUserCard__info-item {
    display: grid;
    grid-template-columns: 40px auto;
    margin-bottom: 16px;
}

.ChatHeaderUserCard__info-icon svg {
    width: 18px;
    height: 18px;
}

.ChatHeaderUserCard__thanks {
    padding: 20px;
}

.ChatHeaderUserCard__thanks__title {
    margin-bottom: 16px;
}

.ChatHeaderUserCard__thanks-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ChatHeaderUserCard__thanks-form-item-input {
    max-width: 90%;
}

.ChatHeaderUserCard__thanks-form-item .btn {
    height: 38px;
}

.ChatHeaderUserCard__re-change-title {
    font-size: 22px;
    margin-bottom: 4px;
}

.ChatHeaderUserCard__re-change-text {
    font-size: 14px;
    margin-bottom: 16px;
}

.ChatHeaderUserCard__re-change {
    background: #eee;
    padding: 16px;
    border-radius: 8px;
}

.ChatHeaderUserCard__re-change button {
    height: 40px !important;
    min-width: fit-content !important;
}