.MessagesList__items {
    height: calc(100vh - 132px);
    padding-top: 90px;
    overflow-y: auto;
    padding-right: 8px;
    padding-left: 30%;
    scroll-behavior: smooth;
}

@media screen and (max-width: 1500px) {
    .MessagesList__items {
        padding-left: 20%;
    }
}

@media screen and (max-width: 1300px) {
    .MessagesList__items {
        padding-left: 10%;
    }
}

.MessagesList__item {
    background: #fff;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 8px;
    max-width: 500px;
    min-width: 200px;
}

.MessagesList__item_left {
    float: left;
}

.MessagesList__item_right {
    float: right;
    background: #5d5fef2b;
}

.MessagesList__item-meta-time {
    font-size: 11px;
    color: green;
    text-align: right;
}

.MessagesList__item-meta {
    display: grid;
    grid-template-columns: 1fr 1fr 16px;
    align-items: end;
    padding-left: 8px;
    width: 111px;
    float: right;
}

.MessagesList__item-separator {
    clear: both;
}

span.MessagesList__item-meta-status {
    margin-bottom: -3px;
    text-align: right;
}

.MessagesList__item-message img {
    width: 100%;
    max-height: 400px;
}

.MessagesList__item-dropdown {
    float: right;
    margin-top: 0;
    padding-right: 6px;
}

.MessagesList__item-dropdown-icon {
    cursor: pointer;
}

.MessagesList__item-meta-is-edit span {
    font-size: 11px;
    padding-right: 4px;
    padding-top: 0px;
    display: block;
}