.SubmitButton .disable {
    background: #dee2e6 !important;
    border: 1px solid #dee2e6 !important;
    pointer-events: none;
}

.SubmitButton .spinner-border {
    margin-top: 3px;
    color: var(--theme-color) !important;
}

/* mobile */

@media screen and (max-width: 768px) {
    .SubmitButton .btn {
        width: 100%;
    }
}